/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

#logo {
    height: 75px;
    width: auto;
}


.navbar {
    background-color: blue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: min-content;
}

.navbar > ul {
    list-style-type: none;
}


.banner {
    background-image: url("/images/landing.jpg");
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;

}
