/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

#logo {
    height: 75px;
    width: auto;
    margin-left: 25px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    background-color: red;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    align-content: space-around;
}

ul > li {
    margin: 10px 10px 0 10px;
}

.landing {
    background-image: url("images\landing.jpg");
    display: flex;
    flex-direction: column;
    color: #FFF;
    background-color: green;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    margin: 0;
    height: 850px;
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
}