/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

#logo {
    height: 50px;
    width: auto;
    display: block;
}

.headbar {
    background-color: blue;

}

nav > ul {
    display: flex;
    justify-content: end;
    align-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.banner {
    background-image: url("/lab-css-spotify-clone/images/landing.jpg");
    font-size: 45px;
    color: white;
    text-align: center;
    vertical-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
}
